<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home - GoGists</title>
    </head>
    <body>
        <header>
            <h1><a href="/">GoGists</a></h1>
        </header>
        <nav>
            <a href="/">Home</a>
        </nav>
        <main>
            <h2>Latest Gists</h2>
            <p>There are no gists to see here yet!</p>
        </main>
    </body>
</html>
