{{template "base" .}}

{{define "title"}}Gist #{{.Gist.ID}}{{end}}

{{define "main"}}
<div class="snippet">
    <div class="metadata">
        <strong>{{.Gist.Title}}</strong>
        <span>#{{.Gist.ID}}</span>
    </div>
    <pre><code>{{.Gist.Content}}</code></pre>
    <div class="metadata">
        <time>Created At: {{.Gist.CreatedAt}}</time>
        <time>Expires At: {{.Gist.ExpiresAt}}</time>
    </div>
</div>
{{end}}
